@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600');

.App {
  text-align: center;
  font-family: 'Source Code Pro';
  font-weight: 400;
  line-height: 1.5;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  /*border: 1px solid;*/
  height: 75vh;
  top: 18vh;
  position: relative;
  overflow-y: hidden;
}


.title {
  display: block;
  position: fixed;
  height: auto;
  text-align: center;
  top: 5vh;
  /*left: 43.5vw;*/
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  /*font-family: 'Source Sans Pro';*/
  /*display: none;*/
  /*border: 1px solid;*/
}

.block {
  /*border: 1px solid;*/
  margin: 0vh 1vw;
  flex: 1;
  align-self: center;
  text-align: left;
  height: 75vh;
  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.block > ul.text-green {
  padding: 0 1vh;
  margin-bottom: 5vh;
  border-left: 4px solid #017C32;
}

.block > ul.text-yellow {
  padding: 0 1vh;
  margin-bottom: 5vh;
  border-left: 4px solid #FFEA26;
}

.block > ul.text-red {
  padding: 0 1vh;
  margin-bottom: 5vh;
  border-left: 4px solid #FFB289;
}

.block .url {
  font-weight: 300;
  margin-top: 1vh;
  font-size: 10px;
}

.block .url > a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.block .url > a:visited {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  font-size: 10px;
  margin: 1vh 1vw;
  display: block;
  position: fixed;
  bottom: 0.5vh;
}
