@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600');

.App {
  text-align: center;
  font-family: 'Source Code Pro';
  font-weight: 400;
  line-height: 1.5;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  /*border: 1px solid;*/
  height: 75vh;
  top: 18vh;
  position: relative;
  overflow-y: hidden;
}


.logo > img {
  display: block;
  position: fixed;
  height: auto;
  top: 3vh;
  left: 49vw;
  margin: 0 auto;
  /*display: none;*/
  /*border: 1px solid;*/
}

.logo {
  display: block;
  position: fixed;
  height: auto;
  top: 9vh;
  left: 40vw;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /*display: none;*/
  /*border: 1px solid;*/
}

.block {
  /*border: 1px solid;*/
  margin: 0vh 1vw;
  flex: 1;
  align-self: center;
  text-align: left;
  height: 75vh;
  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


.block > ul.text-yellow {
  padding: 0 1vh;
  margin-bottom: 5vh;
  border-left: 4px solid rgba(174,152,173, 0.6);
}

.block > ul.text-green {
  padding: 0 1vh;
  margin-bottom: 5vh;
  border-left: 4px solid rgba(134, 157, 187, 0.6);
}

.block > ul.text-red {
  padding: 0 1vh;
  margin-bottom: 5vh;
  border-left: 4px solid rgba(124, 89, 134, 0.6);
}

.block .url {
  font-weight: 300;
  margin-top: 1vh;
  font-size: 10px;
}

.block .url > a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.block .url > a:visited {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  font-size: 10px;
  margin: 1vh 1vw;
  display: block;
  position: fixed;
  bottom: 0.5vh;
}
